<div class="banner">
	 <div class="container">
		<!-- FlexSlider -->
              <section class="slider">
				  <div class="flexslider">
					<ul class="slides">
						<li><img src="images/servers.png" class="img-responsive" alt=""/>
							<div class="banner_desc">
								<h1>Awesome Hosting</h1>
								<h2>with unlimited features</h2>
							</div>
						</li>
						<li><img src="images/server.png" class="img-responsive" alt=""/>
							<div class="banner_desc">
								<h1>Awesome Hosting</h1>
								<h2>with unlimited features</h2>
							</div>
						</li>
						<li><img src="images/server1.png" class="img-responsive" alt=""/>
							<div class="banner_desc">
								<h1>Awesome Hosting</h1>
								<h2>with unlimited features</h2>
							</div>
						</li>
						
				    </ul>
				  </div>
	         </section>
           <!-- FlexSlider -->
	</div>
</div>

<div class="benefit">
	<div class="container">
		<h4 class="tz-title-4 tzcolor-blue">
            <p class="tzweight_Bold"><span class="m_1">Наші<br></span>переваги</p>
        </h4>
		<div class="box1">
			<div class="col-md-4 row_10">
				<ul class="service_grid">
   	   			   <i class="s1"> </i>
   	   			   <li class="desc">
   	   				<h3>99.9% Uptime</h3>
   	   				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
   	   			   </li>
   	   			   <div class="clearfix"> </div>
   	   			</ul>
			</div>
			<div class="col-md-4">
				<ul class="service_grid">
   	   			   <i class="s2"> </i>
   	   			   <li class="desc">
   	   				<h3>24/7/365 Support</h3>
   	   				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
   	   			   </li>
   	   			   <div class="clearfix"> </div>
   	   			</ul>
			</div>
			<div class="col-md-4">
				<ul class="service_grid">
   	   			   <i class="s3"> </i>
   	   			   <li class="desc">
   	   				<h3>Protect Your pc</h3>
   	   				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
   	   			   </li>
   	   			   <div class="clearfix"> </div>
   	   			</ul>
			</div>
		</div>
		<div class="box1">
			<div class="col-md-4">
				<ul class="service_grid">
   	   			   <i class="s4"> </i>
   	   			   <li class="desc">
   	   				<h3>DNS Control</h3>
   	   				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
   	   			   </li>
   	   			   <div class="clearfix"> </div>
   	   			</ul>
			</div>
			<div class="col-md-4">
				<ul class="service_grid">
   	   			   <i class="s5"> </i>
   	   			   <li class="desc">
   	   				<h3>Domain Transfer</h3>
   	   				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
   	   			   </li>
   	   			   <div class="clearfix"> </div>
   	   			</ul>
			</div>
			<div class="col-md-4">
				<ul class="service_grid">
   	   			   <i class="s6"> </i>
   	   			   <li class="desc">
   	   				<h3>100% Security</h3>
   	   				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
   	   			   </li>
   	   			   <div class="clearfix"> </div>
   	   			</ul>
			</div>
		</div>
	</div>
</div>

<div class="price">
	<div class="container">
		<h4 class="tz-title-4 tzcolor-blue">
            <p class="tzweight_Bold"><span class="m_1">Наші<br></span>Тарифи</p>
        </h4>
		    <div class="col-md-3">
							<div class="pricing-table-grid">
								<h3><span class="dollar">$</span>5<br><span class="month">Per Month</span></h3>
								<ul>
									<li><span>Standard Plan</span></li>
									<li><a href="#">10GB Disk Space</a></li>
									<li><a href="#">1TB Bandwidth</a></li>
									<li><a href="#">Free DDoS Protection</a></li>
									<li><a href="#">Free Daily Backups</a></li>
									<li><a href="#">Managed Hosting</a></li>
								</ul>
								<a class="popup-with-zoom-anim order-btn" href="#small-dialog">Sign Up</a>
							</div>
							<div id="small-dialog" class="mfp-hide">
									<div class="pop_up">
									 	<div class="payment-online-form-left">
											<form>
												<h4><span class="shipping"> </span>Shipping</h4>
												<ul>
													<li><input class="text-box-dark" type="text" value="Frist Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Frist Name';}"></li>
													<li><input class="text-box-dark" type="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}"></li>
												</ul>
												<ul>
													<li><input class="text-box-dark" type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"></li>
													<li><input class="text-box-dark" type="text" value="Company Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Company Name';}"></li>
												</ul>
												<ul>
													<li><input class="text-box-dark" type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}"></li>
													<li><input class="text-box-dark" type="text" value="Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}"></li>
													<div class="clearfix"> </div>
												</ul>
												<div class="clear"> </div>
											<ul class="payment-type">
												<h4><span class="payment"> </span> Payments</h4>
												<li>
													<span class="col_checkbox">
													<input id="3" class="css-checkbox1" type="checkbox">
													<label for="3" name="demo_lbl_1" class="css-label1"> </label>
													<a class="visa" href="#"> </a>
													</span>
												</li>
												<li>
													<span class="col_checkbox">
														<input id="4" class="css-checkbox2" type="checkbox">
														<label for="4" name="demo_lbl_2" class="css-label2"> </label>
														<a class="paypal" href="#"> </a>
													</span>
												</li>
												<div class="clearfix"> </div>
											</ul>
												<ul>
													<li><input class="text-box-dark" type="text" value="Card Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Card Number';}"></li>
													<li><input class="text-box-dark" type="text" value="Name on card" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name on card';}"></li>
													<div class="clearfix"> </div>
												</ul>
												<ul>
													<li><input class="text-box-light hasDatepicker" type="text" id="datepicker" value="Expiration Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Expiration Date';}"><em class="pay-date"> </em></li>
													<li><input class="text-box-dark" type="text" value="Security Code" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Security Code';}"></li>
													<div class="clearfix"> </div>
												</ul>
												<ul class="payment-sendbtns">
													<li><input type="reset" value="Cancel"></li>
													<li><input type="submit" value="Process order"></li>
												</ul>
												<div class="clearfix"> </div>
											</form>
										</div>
						  			</div>
								</div>
		     </div>
             <div class="col-md-3">
							<div class="pricing-table-grid">
								<h3><span class="dollar">$</span>6<br><span class="month">Per Month</span></h3>
								<ul>
									<li><span>Advanced Plan</span></li>
									<li><a href="#">10GB Disk Space</a></li>
									<li><a href="#">1TB Bandwidth</a></li>
									<li><a href="#">Free DDoS Protection</a></li>
									<li><a href="#">Free Daily Backups</a></li>
									<li><a href="#">Managed Hosting</a></li>
								</ul>
								<a class="popup-with-zoom-anim order-btn" href="#small-dialog">Sign Up</a>
							</div>
		     </div>	
	         <div class="col-md-3">
							<div class="pricing-table-grid">
								<h3><span class="dollar">$</span>8<br><span class="month">Per Month</span></h3>
								<ul>
									<li><span>Business Plan</span></li>
									<li><a href="#">10GB Disk Space</a></li>
									<li><a href="#">1TB Bandwidth</a></li>
									<li><a href="#">Free DDoS Protection</a></li>
									<li><a href="#">Free Daily Backups</a></li>
									<li><a href="#">Managed Hosting</a></li>
								</ul>
								<a class="popup-with-zoom-anim order-btn" href="#small-dialog">Sign Up</a>
							</div>
		    </div>
	        <div class="col-md-3">
							<div class="pricing-table-grid">
								<h3><span class="dollar">$</span>9<br><span class="month">Per Month</span></h3>
								<ul>
									<li><span>Gold Plan</span></li>
									<li><a href="#">10GB Disk Space</a></li>
									<li><a href="#">1TB Bandwidth</a></li>
									<li><a href="#">Free DDoS Protection</a></li>
									<li><a href="#">Free Daily Backups</a></li>
									<li><a href="#">Managed Hosting</a></li>
								</ul>
								<a class="popup-with-zoom-anim order-btn" href="#small-dialog">Sign Up</a>
							</div>
		    </div>	
		    <div class="clearfix"> </div>								
       </div>
</div>

<div class="about_grid1">
	<div class="container">
		<h4 class="tz-title-4 tzcolor-blue">
            <p class="tzweight_Bold"><span class="m_1">Відгуки<br></span>про нас</p>
        </h4>
		<div class="wmuSlider example1" style="height: 150px;">
			<div class="wmuSliderWrapper">
				<article style="position: relative; width: 100%; opacity: 1;"> 
				   	   <div class="banner-wrap">
				   	 	   <ul class="grid-1">
				   	 			<li class="grid-1_left">
				   	 				<img src="images/s3.jpg" class="img-responsive" alt="">
				   	 			</li>
				   	 			<li class="grid-1_right">
				   	 				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged</p>
								    <h4>By<br><span class="m_10">Leap Designer</span></h4>
				   	 			</li>
				   	 			<div class="clearfix"> </div>
				   	 		</ul>
				   	   </div>
				   </article>
				   <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	   <div class="banner-wrap">
				   	 	   <ul class="grid-1">
				   	 			<li class="grid-1_left">
				   	 				<img src="images/s4.jpg" class="img-responsive" alt="">
				   	 			</li>
				   	 			<li class="grid-1_right">
				   	 				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged</p>
								    <h4>By<br><span class="m_10">Leap Designer</span></h4>
				   	 			</li>
				   	 			<div class="clearfix"> </div>
				   	 		</ul>
				   	   </div>
				   </article>
				    <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	   <div class="banner-wrap">
				   	 	   <ul class="grid-1">
				   	 			<li class="grid-1_left">
				   	 				<img src="images/s2.jpg" class="img-responsive" alt="">
				   	 			</li>
				   	 			<li class="grid-1_right">
				   	 				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged</p>
								    <h4>By<br><span class="m_10">Leap Designer</span></h4>
				   	 			</li>
				   	 			<div class="clearfix"> </div>
				   	 		</ul>
				   	   </div>
				   </article>
				</div>
			    <ul class="wmuSliderPagination">
                	<li><a href="#" class="">0</a></li>
                	<li><a href="#" class="">1</a></li>
                	<li><a href="#" class="wmuActive">2</a></li>
                </ul>
            <ul class="wmuSliderPagination"><li><a href="#" class="wmuActive">0</a></li><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li></ul></div>
			  <script>
       			$('.example1').wmuSlider();         
   		     </script> 	           	      
	</div>
</div>